@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'iconfont';
  src: url('../../public/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.theme {
  @apply min-h-screen text-textLight bg-bgLight dark:text-textDark dark:bg-opacity-50;
  @apply transition-colors duration-300 ease-in;
}

.dark .theme {
  background: linear-gradient(to bottom, transparent, rgb(0, 0, 0)) rgb(29, 31, 36);
}
