/*多写div会造成代码块code在移动端的不匹配问题 */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*添加marginLeft，视觉上更加居中*/
  /*不添加marginLeft，是最居中的*/
  /*margin-left: 150px;*/
}

.title {
  color: var(--surfaceStrong);
  font-size: 30px;
  font-weight: 800;
  transition: 0.8s;
}


.article {
  margin: 32px 0;
}
