.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.name {
  color: var(--surfaceStrong);
  font-size: 36px;
  font-weight: 800;
  transition: 0.8s;
}

.link {
  color: var(--surfaceStrong);
  border-bottom: 1px solid rgba(125,125,125,.3);
  /*transition: border .8s ease-in-out;*/
  transition: 0.8s;
}

.link:hover {
  border-bottom: 1px solid rgba(125,125,125,1);
  /*transition: border .3s ease-in-out;*/
  transition: 0.8s;
}

.last {
  margin-bottom: 50px;
}
