.PhotoView-Portal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  overflow: hidden;
  touch-action: none
}

.PhotoView__Spinner {
  -webkit-animation: PhotoView__delayIn .4s linear both;
  animation: PhotoView__delayIn .4s linear both
}

.PhotoView__Spinner svg {
  -webkit-animation: PhotoView__rotate .6s linear infinite;
  animation: PhotoView__rotate .6s linear infinite
}

.PhotoView__Photo {
  cursor: grab;
  max-width: none
}

.PhotoView__Photo:active {
  cursor: grabbing
}

.PhotoView__icon {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%)
}

.PhotoView__PhotoBox,
.PhotoView__PhotoWrap {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  touch-action: none;
  direction: ltr
}

.PhotoView__PhotoWrap {
  overflow: hidden;
  z-index: 10
}

.PhotoView__PhotoBox {
  transform-origin: left top
}

.PhotoView-Slider__Backdrop {
  /* 新增透明度，方便观看背景其余内容 */
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: black;
  opacity: .8;
  transition-property: background-color
}

.PhotoView-Slider__fadeIn {
  -webkit-animation: PhotoView__fade linear both;
  animation: PhotoView__fade linear both;
  opacity: 0
}

.PhotoView-Slider__fadeOut {
  animation: PhotoView__fade linear reverse both;
  opacity: 0
}

.PhotoView-Slider__BannerWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 44px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  transition: opacity .2s ease-out
}

.PhotoView-Slider__BannerWrap:hover {
  opacity: 1
}

.PhotoView-Slider__Counter {
  /* 新增 */
  padding: 16px;
  /*margin: 16px 0 0 20px;*/
  font-size: 14px;
  color: #ffffff;
  opacity: .75
}

.PhotoView-Slider__BannerRight {
  align-items: center;
  display: flex;
  height: 100%
}

.PhotoView-Slider__toolbarIcon {
  fill: #fff;
  box-sizing: border-box;
  cursor: pointer;
  opacity: .75;
  padding: 9px;
  margin: 10px 10px 0 0;
  transition: opacity .2s linear
}

.PhotoView-Slider__toolbarIcon:hover {
  opacity: 1
}

.PhotoView-Slider__ArrowLeft,
.PhotoView-Slider__ArrowRight {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100px;
  width: 100px;
  /*修改位置*/
  margin: auto -16px auto -16px;
  opacity: .75;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 20;
  transition: opacity .2s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.PhotoView-Slider__ArrowLeft:hover,
.PhotoView-Slider__ArrowRight:hover {
  opacity: 1
}

/*此处可以把svg的图片进行修改，替换掉*/
.PhotoView-Slider__ArrowLeft svg,
.PhotoView-Slider__ArrowRight svg {
  fill: #fff;
  box-sizing: content-box;
  height: 38px;
  width: 38px;
  /*padding: 10px*/
}

.PhotoView-Slider__ArrowLeft {
  left: 0
}

.PhotoView-Slider__ArrowRight {
  right: 0
}

.PhotoView-Slider__clean .PhotoView-Slider__ArrowLeft,
.PhotoView-Slider__clean .PhotoView-Slider__ArrowRight,
.PhotoView-Slider__clean .PhotoView-Slider__BannerWrap,
.PhotoView-Slider__clean .PhotoView-Slider__Overlay,
.PhotoView-Slider__willClose .PhotoView-Slider__BannerWrap:hover {
  opacity: 0
}

@-webkit-keyframes PhotoView__rotate {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(1turn)
  }
}

@keyframes PhotoView__rotate {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(1turn)
  }
}

@-webkit-keyframes PhotoView__delayIn {
  0%, 50% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes PhotoView__delayIn {
  0%, 50% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes PhotoView__fade {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes PhotoView__fade {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
