.date {
  color: var(--surfaceMain);
  font-weight: 500;
  margin: 24px 0 8px 0;
}

.pic:hover {
  cursor: pointer;
}

.box {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: auto;
}