.link {
  color: var(--surfaceMain);
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(125, 125, 125, .3);
  transition: border .3s ease-in-out;
}

.link:hover {
  color: #000000;
  border-bottom: 1px solid rgba(125, 125, 125, .6);
  transition: border .3s ease-in-out;
  cursor: pointer;
}

.box {
  margin: 40px 0 15px 0;
}
