html,
body {
  padding: 0;
  margin: 0;
  /*color: #555555;*/
  /*background-color: var(--surfaceBackground);*/
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout {
  color: var(--surfaceMain);
  background-color: var(--surfaceBackground);
}

@font-face {
  font-family: 'iconfont';
  src: url('/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark Theme & Light Theme */
.layout[color-mode='light'] {
  --surfaceMain: #555555;  /* Deep Gray */
  --surfaceSub: #7D7D7D;   /* Light Gray */
  --surfaceNavbar: #374151;
  --surfaceStrong: #000000;
  --surfaceBackground: #ffffff;
  --surfaceCodeBlock: #F8F8F8;
  --surfaceBtnBackground: #EFEFEF;
}

.layout[color-mode='dark'] {
  --surfaceMain: #BBBBBB;
  --surfaceSub: #E5E7EB;
  --surfaceNavbar: #E5E7EB;
  --surfaceStrong: #ffffff;
  --surfaceBackground: #000000;
  --surfaceCodeBlock: #4b4b4b;
  --surfaceBtnBackground: #212121;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
