.container {
  /*max-width: 920px;*/
  max-width: 855px;
  /*max-width: 768px;*/
  /*max-width: 760px;*/
  /*background-color: pink;*/
  /*margin: 20px auto 0;*/
  margin: 0 auto;
  padding: 0 32px;
  min-height: 100vh;
}

@media screen and (max-width: 750px) {
  .container {
    margin-top: 5px;
    padding: 0 25px;
  }
}
