/*多写div会造成代码块code在移动端的 */
/*.container {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  justify-content: center;*/
/*}*/

.title {
  color: var(--surfaceStrong);
  font-size: 30px;
  font-weight: 800;
}

.date {
  font-size: 15px;
  text-align: end;
  transition: 0.3s;
}

.article {
  margin: 32px 0;
}
