/* Markdown Format CSS */
.md h1 {
  font-size: 24px;
}

.md h2 {
  font-size: 22px;
}

.md h3 {
  font-size: 20px;
}

.md h4 {
  font-size: 18px;
}

.md h5,
.md h6 {
  font-size: 16px;
}

.md h1,
.md h2,
.md h3,
.md h4,
.md h5,
.md h6,
.md strong {
  color: var(--surfaceStrong);
}

.md p,
.md ul,
.md ol {
  font-size: 16px;
  line-height: 28px;
  color: var(--surfaceMain);
}

.md li {
  margin: 5px 0;
}

.md blockquote {
  padding: 0 16px;
  margin-left: 0;
  border-left: 4px solid var(--surfaceSub);
}

.md code {
  /*pre有一个padding是36px，此处设置margin-top:-36px为了让代码块上移一点距离保持行间距正常*/
  /*margin-top: -36px;*/
  font-size: 14px;
  /*以下代码是正常的*/
  overflow-x: auto;
  /*TODO*/
  background-color: var(--surfaceCodeBlock);
  padding: 3px;
  margin: 0 2px;
  border-radius: 5px;
}

.md hr {
  width: 50%;
  height: 1px;
  margin: 38px auto;
  border: none;
  background-color: rgba(125, 125, 125, .3);
}

.md p img {
  max-width: 100%;
  margin: 5px 0;
}

/*.md img {*/
/*  border: 20px solid red;*/
/*  margin: 0 auto;*/
/*}*/

.md a {
  color: var(--surfaceStrong);
  border-bottom: 1px solid rgba(125,125,125,.3);
  transition: border .3s ease-in-out;
}

.md a:hover {
  border-bottom: 1px solid rgba(125,125,125,1);
  transition: border .3s ease-in-out;
}
