.container {
  display: flex;
  align-items: center;
  padding: 32px;
  width: 100vw;
}

.signature {
  font-size: 25px;
  font-family: "Comic Sans MS", sans-serif;
  margin-right: auto;
  transition: 0.3s;
}

.signature:hover {
  color: var(--surfaceStrong);
}

.pc {
  display: block;
}

.mobile {
  display: none;
}


.nav {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 16px;
  color: var(--surfaceNavbar);
  opacity: .6;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  color: var(--surfaceStrong);
}

.link {
  transition: 0.3s;
}

.link:hover {
  color: var(--surfaceStrong);
}

@media screen and (max-width: 750px) {
  .mobile {
    display: block;
  }

  .pc {
    display: none;
  }

}
