.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.year {
  font-size: 30px;
  color: #AAAAAA;
  text-align: start;
  margin-bottom: 20px;
}

.itemContainer {
  cursor: pointer;
  margin-bottom: 20px;
}

.title {
  font-size: 16px;
  color: var(--surfaceMain);
  transition: 0.3s;
}

.date {
  font-size: 14px;
  color: rgba(125, 125, 125, .5);
  transition: 0.3s;
  margin-top: -8px;
}

.itemContainer:hover .title {
  color: var(--surfaceStrong);
}

.itemContainer:hover .date {
  color: rgba(125, 125, 125, 1);
}
