.container {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: auto;
}

.title {
  color: var(--surfaceStrong);
}

.subTitle {
  font-style: oblique;
  color: rgb(125, 125, 125);
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 4px;
  row-gap: 20px;
}

.h4Title {
  color: var(--surfaceMain);
  font-weight: 700;
  /*margin-bottom: 0;*/
}

/* Item 样式 */
.item {
  /*规定Item的宽高，此处设置高度，根据description设置两行的高度*/
  /*如果后续description有三行则需要重新考虑该height值*/
  /*但不建议description超过两行*/
  /*BUG: 如果mobile尺寸特别小，宽不够360px，则不会显示item*/
  /*width: 360px;*/
  /*height: 100px;*/
  max-width: 310px;
  max-height: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px;
  transition: 0.3s;
  border-radius: 10px;
}

.icon {
  font-size: 34px;
  line-height: 80px;
  /*color: rgba(85, 85, 85, .6);*/
  color: var(--surfaceMain);
}

.name {
  font-size: 16px;
  color: var(--surfaceMain);
  transition: 0.3s;
}

.description {
  margin-top: -10px;
  font-size: 14px;
  line-height: 22px;
  color: rgba(125, 125, 125, .6);
  /*color: #000000;*/
  /*opacity: .4;*/
  transition: 0.3s;
}

.item:hover {
  background-color: rgba(125, 125, 125, .1);
  transition: 0.3s;
  cursor: pointer;
}

.item:hover .name {
  color: var(--surfaceStrong);
  transition: 0.3s;
}

.item:hover .description {
  color: rgba(125, 125, 125);
  /*opacity: .6;*/
  transition: 0.3s;
}

.item:hover .icon {
  /*color: rgba(85, 85, 85, 1);*/
  color: var(--surfaceStrong);
  transition: 0.3s;
}
